{% extends 'base.html.twig' %}

{% block body %}
    {% if user %}
        <h5>Congratulations!</h5>
        <p>
            Your account has been activated, now you can login
            <a href="{{ path('security_login') }}">here</a>
        </p>
    {% else %}
        <p>Something went wrong, please, check your email</p>
    {% endif %}
{% endblock %}